.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
  /* Ensure images don't overflow the container */
}

.image-container {
  flex: 1;
  max-width: calc(50% - 10px);
  /* Set maximum width to half of the container width */
}

.image-container img {
  width: 100%;
  height: auto;
}

/* Adjustments for smaller screen sizes */
@media (max-width: 768px) {
  .image-container {
    max-width: calc(100% - 10px);
    /* Set maximum width to full container width */
  }
}